---
import Layout from '../layouts/Layout.astro';
import { HeroHighlightDemo as HeroHighlightComponent } from '../components/HeroHighlightDemo';
---

<Layout title="Demo de HeroHighlight | Agente RAG Website">
  <main>
    <HeroHighlightComponent client:load />
  </main>
</Layout>
